/**
 * Title:
 *    Overrides
 * Description:
 *    Global overrides to be used throughout a project. Using !important as
 *    we always want them to override existing styles.
 * Sections:
 *    $. Box Model
 *    $. Positioning
 *    $. Type Styling
 */



/* $. Box Model
\*----------------------------------------------------------------*/

.u-zero-top {
    margin-top: 0;
}

.u-zero-bottom {
    margin-bottom: 0;
}

.u-zero-pad-top {
    padding-top: 0;
}

.u-zero-pad-bottom {
    padding-top: 0;
}

.u-zero-pad-left {
    padding-left: 0;
}

.u-zero-pad-right {
    padding-right: 0;
}

.u-push {
    margin: $base;
}

.u-push-top {
    margin-top: $base;
}

.u-push-top\@2 {
    margin-top: $base*2;
}

.u-push-top\/2 {
    margin-top: $base/2;
}

.u-push-top\/4 {
    margin-top: $base/4;
}

.u-push-bottom {
    margin-bottom: $base;
}

.u-push-bottom\@2 {
    margin-bottom: $base*2;
}

.u-push-bottom\/2 {
    margin-bottom: $base/2;
}

.u-push-bottom\/4 {
    margin-bottom: $base/4;
}

.u-push-right {
    margin-right: $base;
}

.u-pull-right {
    margin-right: -$base;
}

.u-display-block {
    display: block;
}

.u-display-inline {
    display: inline-block;
}

.u-display-none {
    display: none;
}

.u-vertical-top {
    vertical-align: top;
}

.u-vertical-middle {
    vertical-align: middle;
}

.u-pad {
    padding: $base;
}

.u-pad\@2 {
    padding: $base*1.5;
}

.u-pad-bottom {
    padding-bottom: $base;
}

.u-pad-bottom\@2 {
    padding-bottom: $base*2;
}



/* $. Positioning
\*----------------------------------------------------------------*/

/* Alignment */
.u-align-left   { text-align: left; }
.u-align-center { text-align: center; }
.u-align-right  { text-align: right; }

/* Floats */
.u-float-none   { float: none; }
.u-float-left   { float: left; }
.u-float-right  { float: right; }

/* Size specific */
.u-float-right-bp4 {
    @include respond-min($bp4) {
        float: right;
    }
}



/* $. Type Styling
\*----------------------------------------------------------------*/

/* Families */
.u-family          { font-family: $font; }

/* Sizing */
.u-size-small      { font-size: .8rem; }
.u-size-large      { font-size: 1.3rem; }

/* Weight */
.u-weight-normal   { font-weight: $weight-normal; }
.u-weight-medium   { font-weight: $weight-medium; }
.u-weight-bold     { font-weight: $weight-bold; }

/* Style */
.u-style-italic    { font-style: italic; }
.u-style-uppercase { text-transform: uppercase; }
.u-style-underline { text-decoration: underline; }

/* Wrapping */
.u-text-wrap {
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
}


/* $. Styling
\*----------------------------------------------------------------*/

/* Borders */
.u-rounded  { border-radius: 100%; }
.u-curved   { border-radius: $base; }
.u-bordered { border: ($base/2) solid $white; }
