/**
 * Title:
 *    Breadcrumbs
 * Description:
 *    Styling the breadcrumbs component.
 * Sections:
 *    $. Variables
 *    $. Base
 */



/* $. Variables
\*----------------------------------------------------------------*/

// variables



/* $. Base
\*----------------------------------------------------------------*/

.breadcrumbs {
    position: relative;
    margin: 0;
    padding: $base*0.5 0;
    font-size: 0.88rem; // 16px @bp3+

    @include respond-min($bp3) {
        padding-top: $base;
        border-top: ($base/4) solid $grey-lighter;
    }

    a {
        color: $color-link;
        border-bottom: 1px solid $color-link;
        border-bottom-color: rgba($color-link, .15);

        &:hover,
        &:focus,
        &:active {
            border-bottom-color: rgba($color-link, .5);
        }
    }
}
